body {
  padding: 10px;
}

.pozadie {
  width: 100%;
  height: 400px;
}

.nadpis {
  position: absolute;
  top: -250px;
  right: 30px;
}

.odtien {
  font-size: 80px;
  color: red;
}

.text {
  color: black;
  font-size: 40px;
  text-align: center;
  background-color: #f4d142;
}

.frbpoz {
  height: 80px;
  background-color: #f4d142;
}

.uprava {
  width: 70%;
}
.popis {
  font-size: 30px;
  background-color: #535ae0;
}
.obsah {
  font-size: 20px;
}
.obj {
  font-size: 25px;
  color: blue;
  margin-top: 85px;
}
.form {
  font-size: 20px;
  color: black;
}
.choose {
  font-size: 30px;
  color: red;
  margin-top: 80px;
}
.new {
  font-size: 30px;
  color: blue;
}
